.content{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.container .log-in{
    font-size: 35px;
    font-weight: 600;
    color: #757575;
    text-align: center;
}
.log-in .icon-admin{
    font-size: 40px;
}
.form-group label{
    font-size: 20px;
    font-weight: 500;
}
.form-group{
    margin-top: 20px;
}
.button .btn{
    margin-top: 20px;
    background-color: black;
    color:white;
}
.button .btn:hover{
    color: white;
    background-color: black;
}
.container-fluid{
    background-color: black;
}
.admin{
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}