.content a{
    text-decoration: none;
    font-size: 23px;
    color: white;
}
.content .container .row {
    background-color: black;
    text-align: center;
}
.order-content {
    background-color: white;
}
.order-content a {
    color: black;
}
.content .row {
    border: 1px solid;
}
.content .table a{
    color: black;
    font-size: 16px;
}
.content .table {
    margin-top: 20px;
}
.product-content:hover {
    background-color: white;
}
.product-content a:hover{
    color: black;
}
.customer-content:hover{
    background-color: white;
}
.customer-content a:hover{
    color: black;
}
button{
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.filter-order{
    margin-top: 30px;
}
.filter-order .container li a{
    color: black;
}
.filter-order .container .filter-content {
    width: 400px;
    font-weight: 700;
    font-size: large;
    display: none;
}
.filter-order .container .on {
    width: 400px;
    font-weight: 700;
    font-size: large;
    display: block;
}
/* .filter-order .container :hover{
    .filter-content{
        display: block;
    }
} */
.filter-order .container .filter-content form{
    margin-left: 30px;
    /* display: none; */
}
/* .filter-order .container .filter-status:hover {
    .form-status{
        display: block;
    }
}
.filter-order .container .filter-date:hover {
    .form-date{
        display: block;
    }
}
.filter-order .container .filter-address:hover {
    .form-address{
        display: block;
    }
}    */
/* .filter-order .container .filter-down{
    margin-right: 50px;
}
.filter-order .container .filter-content{
    position: absolute;
    background-color: rgb(241, 158, 193);
    margin-top: 70px;
    margin-left: 50px;
    /* display: none; 
}*/


