.content a{
    text-decoration: none;
    font-size: 23px;
    color: white;
}
.content .container .row {
    background-color: black;
    text-align: center;
}
.order-content {
    background-color: white;
}
.order-content a {
    color: black;
}
.content .row {
    border: 1px solid;
}
.content .table a{
    color: black;
    font-size: 16px;
}
.content .table {
    margin-top: 20px;
}
.product-content:hover {
    background-color: white;
}
.product-content a:hover{
    color: black;
}
.customer-content:hover{
    background-color: white;
}
.customer-content a:hover{
    color: black;
}